img{
    position: absolute;
    top: 24%;
    left: 32%;
    cursor: pointer;
}

.white{
    width: 80%;
    height: 90%;
    background: #1A263D;
    position: absolute;
    top: 5%;
    left: 9%;
    border-radius: 30px;

}